<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sit A Baby</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/babysitters">Zoek een babysitter</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Bekijk profiel</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="row">
        <div class=" col-lg-6 col-md-6 col-xs-6">
            <img src="img/aplogo.png">
            <p>Dit is het werk van 3 studenten van AP-hogeschool.</p>
            <p> We hebben dit gemaakt voor het vak Cloud API's.</p>
            <p>Medewerkers: </p>
            <p>Koen Creve</p>
            <p>Pim Eggermont</p>
            <p>Mohammed El Aissati</p>

        </div>

        <div id="map" class="map col-lg-6 col-md-6 col-xs-6"></div>

    </div>
</div>
