<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sit A Baby</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/babysitters">Zoek een babysitter</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Bekijk profiel</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <p class="title">Edit Page</p>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="img/noprofilepic.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block well well-sm">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 personal-info">

            <h3>Personal info</h3>
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-lg-3 control-label">Full name:</label>
                    <div class="col-lg-7">
                        <input class="form-control" ng-model="profileData.full_name" type="text" placeholder="Naam">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Birthday:</label>
                    <div class="col-lg-2">
                        <input class="form-control" ng-model="profileData.birthday.day" type="number" min="1" max="31" placeholder="DD">
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" ng-model="profileData.birthday.month" type="number" min="1" max="12" placeholder="MM">
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" ng-model="profileData.birthday.year" type="number" max="2016" placeholder="YYYY">
                    </div>


                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-7">
                        <input class="form-control" ng-model="profileData.email" type="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Education:</label>
                    <div class="col-lg-7">
                        <input class="form-control" ng-model="profileData.education" type="text" placeholder="Education">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">School:</label>
                    <div class="col-lg-7">
                        <input class="form-control" ng-model="profileData.school" type="text" placeholder="School">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-7">
                        <input type="radio" ng-model="profileData.gender" value="male"> Male
                        <input type="radio" ng-model="profileData.gender" value="female"> Female
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Type user:</label>
                    <div class="col-lg-7">
                        <input type="radio" ng-model="profileData.typeofuser" value="Babysitter"> Babysitter
                        <input type="radio" ng-model="profileData.typeofuser" value="User"> User
                        <input type="radio" ng-model="profileData.typeofuser" value="Both"> Both
                    </div>
                </div>
                <b>{{uptodate}}</b>
                <div class="form-group">
                    <div class="col-md-3 "></div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary" ng-click="writeUserInfo()">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
