<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sit A Baby</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/babysitters">Zoek een babysitter</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Bekijk profiel</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <p class="title">Edit Page</p>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="img/noprofilepic.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block well well-sm">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 personal-info">

            <h3>Personal info</h3>
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-lg-3 control-label">Full name:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="profileData.full_name" type="text" placeholder="Naam">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Birthday:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="profileData.birthday" type="text" placeholder="Geboortedatum - DD/MM/YYYY">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="profileData.email" type="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Education:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="profileData.education" type="text" placeholder="Studie richting">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">School:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="profileData.school" type="text" placeholder="School">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-6">
                        <input type="radio" ng-model="profileData.gender" value="male"> Male
                        <input type="radio" ng-model="profileData.gender" value="female"> Female
                        <br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Type user:</label>
                    <div class="col-lg-6">
                        <input type="radio" ng-model="profileData.typeofuser" value="Babysitter"> Babysitter
                        <input type="radio" ng-model="profileData.typeofuser" value="User"> User
                        <input type="radio" ng-model="profileData.typeofuser" value="Both"> Both
                        <br>
                    </div>
                </div>
                <div class="col-lg-12">{{uptodate}}</div>
                



                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-6">
                        <input class="btn btn-primary" ng-click="writeUserInfo()" value="Save Changes" type="button">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
